body {
  // background: rgb(202, 244, 193);
  // background: radial-gradient(circle, rgba(202, 244, 193, 1) 0%, rgba(9, 121, 26, 1) 100%, rgba(0, 212, 255, 1) 100%);
  background-image: url("../../public/assets/images/fondo\ mate.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}
